<h1 class="nogap">Super Zapatos</h1>
<p class="nogap">This web API was implemented using the Visual Studio 2015 templates for WebApi.</p>
<p class="nogap">
    This is only an introduction page for the Test, in a real life WebApi only
    the help page should exist.
</p>
    <h2 class="nogap">This test has two layers</h2>
<p class="nogap">Data acess layer and WebApi layer, styles for this page were removed on purpose</p>
<h2 class="nogap">API documentation and help</h2>
@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)